.tech-sec-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.tech-aff-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightcoral;
    border: solid 1px black;
    border-radius: 25px;
    width: 66vw;
    margin-bottom: 2vh;
}

.tech-aff-details h3 {
    padding-top: 2vh;
}

.tech-sec-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 635px) and (min-width: 590px) {
    .tech-sec-contacts p {
        font-size: 15px;
    }
}

@media (max-width: 589px) and (min-width: 485px) {
    .tech-sec-contacts p {
        font-size: 12px;
    }
}

@media (max-width: 484px) and (min-width: 450px) {
    .tech-sec-contacts p {
        font-size: 10px;
    }
}

@media (max-width: 449px) and (min-width: 400px) {
    .tech-sec-contacts p {
        font-size: 9px;
    }
}

@media (max-width: 399px) and (min-width: 320px) {
    .tech-sec-contacts p {
        font-size: 7px;
    }
}

@media (max-width: 319px) and (min-width: 0px) {
    .tech-sec-contacts p {
        font-size: 5px;
    }
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.club-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    border-radius: 25px;
    width: 66vw;
    margin-bottom: 2vh;
}

.club-details h3{
    padding-top: 2vh;
}

.contact-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 635px) and (min-width: 590px) {
    .contact-details p {
        font-size: 15px;
    }
}

@media (max-width: 589px) and (min-width: 485px) {
    .contact-details p {
        font-size: 12px;
    }
}

@media (max-width: 484px) and (min-width: 450px) {
    .contact-details p {
        font-size: 10px;
    }
}

@media (max-width: 449px) and (min-width: 400px) {
    .contact-details p {
        font-size: 9px;
    }
}

@media (max-width: 399px) and (min-width: 320px) {
    .contact-details p {
        font-size: 7px;
    }
}

@media (max-width: 319px) and (min-width: 0px) {
    .contact-details p {
        font-size: 5px;
    }
}

.phone-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22vw;
}

.email-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22vw;
}

.socialMedia-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 22vw;
}

.accounts-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 2vh;
}