@import url('https://fonts.cdnfonts.com/css/raleway-5');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:400');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
                                                
}
.big{
    background-image: url('/src/pages/GagdnVedhiComponents/gv_images/home-background.png');
    /* background-color: #333; */
    background-repeat: no-repeat;
    background-size: cover;
}

html{
    scroll-behavior: smooth;
}

/* Description */

.desc{
    /* background: #ff7979; */
    padding: 10vh auto;
    height: 50vh;  
}

/* About us */

.container1{
    height: 93vh;
    /* margin-bottom: 3vh; */
}

.header1{
    background-image: url('/src/pages/GagdnVedhiComponents/gv_images/caras_pic_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Raleway', sans-serif;   
    /* margin-bottom: 8vh; */
    /* padding-bottom: 8vh; */
    border: 2px solid gold;
}
.heading1{
    color: gold;
    /* margin-top: 2vh; */
    padding-top: 5vh;
    padding-left: 20vw;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;                                  
}
.heading2{
    color: white;
    /* margin-top: 2vh; */
    padding-top: 4vh;
    font-size: 40px;
    padding-left: 20vw;
    font-family: 'Raleway', sans-serif;
                                                
}


.aboutcont{
    margin-top: 6vh;
    display: flex;
    border: 5px;
    justify-content: space-between;
}


.aboutc{
    /* margin-top: 8vh; */
    padding-top: 8vh;
    /* background: #ff7979; */
}


/* achievements */
.wrapper{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
}

.wrapper .centreLine{
    position: absolute;
    height: 100%;
    width: 4px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.wrapper .Row{
    display: flex;
    justify-content: flex-start;
     margin-top: 6vh;
    /* margin-bottom: 6vh; */
}

.wrapper .Row_1{
    justify-content: flex-start;
}

.wrapper .Row_2{
    justify-content: flex-end;
}

.wrapper .Row section{
    background: #fff;
    border-radius: 5px;
    /* width: calc(50%-40px); */
    width: 30vw;
    padding: 20px;
    position: relative;
}
.wrapper .Row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 28px;
    /* z-index: -1; */
    transform: rotate(45deg);
}

.Row_1 section::before{
    right: -7px;
}

.Row_2 section::before{
    left: -7px;
}

.Row section .icon,
.centreLine .scrollIcon{
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ff7979;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}

.centreLine .scrollIcon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}

.Row_1 section .icon{
    right: -102px;
    top: 13px;
}

.Row_2 section .icon{
    left: -102px;
    top: 13px;
}

.Row section .details,
.Row section .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Row section .details .Title{
    font-size: 22px;
    font-weight: 600;
    /* align-items: center; */
    margin: 10px auto;
}

.Row section p{
    margin: 10px 0 17px 0;
}

.Row section .bottom a{
    text-decoration: none;
    background: #ff7979;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 400;
}

@media(max-width: 790px){

    .wrapper .centreLine{
        left: 40px;
    }

    .wrapper .Row{
        margin: 30px 0 3px 60px;
    }
    
    .wrapper .Row section{
        width: 100%;
    }

    .Row_1 section::before{
        left: -7px;
    }

    .Row-1 section .icon{
        left: -60px;
    }
}

@media(max-width: 440px){

    .wrapper .centreLine,
    .Row section::before,
    .Row section .icon{
        display: none;
    }

    .wrapper .Row{
        margin: 10px 0;
    }

}


/* Team */

.main{

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 0;
}

.desc .box p{
    box-shadow: 0 0 50px 15px #48abe0;
}

.content{
    box-shadow: 0 0 50px 15px #48abe0;
}

.aboutcont > div{
    box-shadow: 0 0 50px 15px #48abe0;
}

.Row section{
    box-shadow: 0 0 50px 15px #48abe0;
}


.box {
	position: relative;
	margin: 18vh auto 12vh auto;
	max-width: 500px;
    /* box-shadow: 0 0 50px 15px rebeccapurple; */
}

.ribbon {
	background: #2D5699;
	color: #FFF;
	padding: 18px;
	text-align: center;
	margin-left: -20px;
	margin-right: -20px;
	/*border-radius: 3px 3px 0 0;*/
	position: relative;
}

.ribbon:before, .ribbon:after {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: "";
	top: 100%;
}

.ribbon.redGradient {
	background: rgb(234,67,53); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(234,67,53,1) 0%, rgba(178,0,0,1) 100%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(234,67,53,1) 0%,rgba(178,0,0,1) 100%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(234,67,53,1) 0%,rgba(178,0,0,1) 100%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea4335', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.ribbon.redGradient:before {
	border-top: 20px solid #861F1A;
	border-left: 20px solid transparent;
	left: 0;
}
.ribbon.redGradient:after {
	border-top: 20px solid #861F1A;
	border-right: 20px solid transparent;
	left: calc(100% - 20px);
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 150px 50px;
    padding : 50px 50px;
    /* box-shadow: 0 0 50px 15px #48abe0; */
}

.container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    margin-left: 6vw;
    margin-right: 6vw;
    height: 320px;
    background: #fff;
    border-radius: 20px;
    /* box-shadow: 0 35px 80px rgba(0,0,0,0.15);  */
    box-shadow: 0 0 50px 15px rebeccapurple; 
    transition: 0.5s;
}

.container .card:hover{
    height: 400px;
}

.container .card .imgBx{
    position: absolute;
    width: 300px;
    top: 20px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    transition: 0.5s;
}

.container .card:hover .imgBx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}

.container .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.container .card .content{
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    overflow: hidden;
    padding: 0 30px;
    text-align: center;
    transition: 0.5s;
}

.container .card:hover .content{
    top: 130px;
    height: 250px;
}

.container .card .content .teamHeading1{
    font-size: 1.6em;
    font-weight: 700;
    color: rgb(10, 64, 64);
}

.container .card .content .teamHeading2{
    font-size: 1.6em;
    font-weight: 700;
    color : #ff3e7f;
}

.container .card .content .teamHeading3{
    font-size: 1.5em;
    font-weight: 700;
    color: #03a9f4;
}

.container .card .content p{
    color: #333;
}
