.dplancard{
    display:flex;
    gap:3rem;
    justify-content: center;
    color: aliceblue;
    scale: 1.15;
}
.dlists{
    background:  #4c4c4c;;
    display: flex;
    flex-direction: column;
    position:relative;
    gap:1rem;
    padding: 30px 40px 75px 40px;
    width: 14rem;
    min-width: 14rem;
    cursor: pointer;
}
.dlists button{
     padding: 15px 20px;
    color: #9c9c9c;
    border-color: none;
    
}
.dfeatures{
    height:7rem;
}
.dfeature>img{
    width:1rem;
    height:1rem
}
.dplan>:nth-child(1){
    width:2rem;
    height: 2rem;
    fill:rgb(180, 168, 146)
}
/* .plancard>:nth-child(2){
    background: var(--planCard);
    transform: scale(1.1);
}
.plancard>:nth-child(2)>.plan>:nth-child(1){
    fill:white;
}
.plancard>:nth-child(2)>button{
    color: orange;
    border-color: orange;
} */
.dgrad{
    display: flex;
    justify-content: space-between;
   
    gap:2rem;
}
.dgrad1{
    position: relative;
    flex: 2;
}
.dgrad2{
    position: relative;
   flex:1;
}

@media(max-width:800px){
    .dplancard{
        flex-direction: column;
        align-items: center;
        gap:4rem;
    }
}